---
title: HOME
description: Homepage
---

#content

	#intro
		%p.first-lane= "Hi!, I am <span class='name'>SHIRO</span> a Front End Web <br> <span class='dev'>DEVELOPER</span> & <span class='des'>DESIGNER</span> <br> I currently sleep and hide in Makati, Philippines<br> I've been destroying and building websites since 2012<br> <span class='follow'>You can follow me on <a href='https://twitter.com/DavidMandeeli' target='_blank'>Twitter</a></span></span>"

	.whats#build
		%h1.title= "SERVICE"
		%ul
			%li= "<span class='line'>--</span> Static websites"
			%li= "<span class='line'>--</span> Wordpress based websites"
			%li= "<span class='line'>--</span> Responsive / Mobile websites"
			%li= "<span class='line'>--</span> PSD to website development"
			%li= "<span class='line'>--</span> Web Applications"

	.whats#use
		%h1.title= "I CODE"
		%ul
			%li= "<span class='line'>--</span> HTML / HTML5"
			%li= "<span class='line'>--</span> CSS / CSS3"
			%li= "<span class='line'>--</span> PHP / MYSQL"
			%li= "<span class='line'>--</span> JavaScript / Jquery"
			%li= "<span class='line'>--</span> Ruby Programming"

	.platforms
		%h1.title= "I USE"
		%ul
			%li= "<span class='line'>--</span> Ruby on Rails for web apps & Middleman for Web development"
			%li= "<span class='line'>--</span> PHP, MySQL for Wordpress Development"
			%li= "<span class='line'>--</span> ASP.net for Windows Based sites"
			%li= "<span class='line'>--</span> Compass and Susy framework for responsive design"
			%li= "<span class='line'>--</span> Photoshop for Web mockups and Image manipulations"

		%h1.title= "OTHER INFO"
		%ul
			%li= "<span class='line'>--</span> Git / GitHub for Version Control"
			%li= "<span class='line'>--</span> SASS for css compiler"
			%li= "<span class='line'>--</span> Windows & Linux Ubuntu for Web development"
			%li= "<span class='line'>--</span> Sublime Text 2 & Console2"
			%li= "<span class='line'>--</span> Currently enrolled in CodeSchool learning variuos things such as RoR, NodeJS & CoffeeScript"
			
	.tweet_container
		%h1.he= "Tweet"
		#tweet

	#how-work
		%h1= "HOW I WORK"
		.w-cont
			.discover
				%h3= "DISCOVER"
				%p= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."
		.w-cont
			.design
				%h3= "DESIGN"
				%p= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."
		.w-cont
			.develop
				%h3= "DEVELOP"
				%p= "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."

	#latest-works
		%h1= "MY LATEST WORKS"
		.boxy
			.work#one
				%img{:src => "images/works/1a.jpg", :alt => "Eastern Visayas"}
				%img{:src => "images/works/1b.jpg", :alt => "Eastern Visayas"}
				%img{:src => "images/works/1c.jpg", :alt => "Eastern Visayas"}	
			.hove
				%h2= "Eastern Visayas"
				%a.link{:title => "Code: 0x2b"}
					%i.icon-plus
				%p="Web Development + Design"

		.boxy
			.work#two
				%img{:src => "images/works/2a.jpg", :alt => "Pasay Tourism"}
				%img{:src => "images/works/2b.jpg", :alt => "Pasay Tourism"}	
			.hove	
				%h2= "Pasay Tourism"
				%a.link{:title => "Code: 0x2b"}
					%i.icon-plus
				%p="Web Development"

		.boxy
			.work#three
				%img{:src => "images/works/3a.jpg", :alt => "SkinworkZ"}
				%img{:src => "images/works/3b.jpg", :alt => "SkinworkZ"}	
			.hove	
				%h2= "SkinworkZ"
				%a.link{:title => "Code: 0x2b"}
					%i.icon-plus
				%p="Wordpress Development"

		.boxy
			.work#one
				%img{:src => "images/works/1a.jpg", :alt => "Eastern Visayas"}
				%img{:src => "images/works/1b.jpg", :alt => "Eastern Visayas"}
				%img{:src => "images/works/1c.jpg", :alt => "Eastern Visayas"}	
			.hove
				%h2= "Eastern Visayas"
				%a.link{:title => "Code: 0x2b"}
					%i.icon-plus
				%p="Web Development + Design"

		.boxy
			.work#two
				%img{:src => "images/works/2a.jpg", :alt => "Pasay Tourism"}
				%img{:src => "images/works/2b.jpg", :alt => "Pasay Tourism"}	
			.hove	
				%h2= "Pasay Tourism"
				%a.link{:title => "Code: 0x2b"}
					%i.icon-plus
				%p="Web Development"

		.boxy
			.work#three
				%img{:src => "images/works/3a.jpg", :alt => "SkinworkZ"}
				%img{:src => "images/works/3b.jpg", :alt => "SkinworkZ"}	
			.hove	
				%h2= "SkinworkZ"
				%a.link{:title => "Code: 0x2b"}
					%i.icon-plus
				%p="Web Development"

	#blog
		%h1= "MY LATEST BLOG"
		


			
