---
---

#content

  #intro
    %p.first-lane= "Hi!, I am <span class='name'>SHIRO</span> a freelance front-end web <br> <span class='dev'>DEVELOPER</span> & <span class='des'>DESIGNER</span> <br> who currently sleep and hide in Makati, Philippines<br> I've been destroying and crafting websites since 2012<br> <span class='follow'>You can follow me on <a href='https://twitter.com/DavidMandeeli' target='_blank'>Twitter</a></span></span>"

  .whats#build
    %h1.title= "SERVICE"
    %ul
      %li= "<span class='line'>--</span> Static websites"
      %li= "<span class='line'>--</span> Wordpress based websites"
      %li= "<span class='line'>--</span> Responsive / Mobile websites"
      %li= "<span class='line'>--</span> PSD to website development"
      %li= "<span class='line'>--</span> Web applications"

  .whats#use
    %h1.title= "I CODE"
    %ul
      %li= "<span class='line'>--</span> HTML / HTML5"
      %li= "<span class='line'>--</span> CSS / CSS3"
      %li= "<span class='line'>--</span> PHP / MYSQL"
      %li= "<span class='line'>--</span> JavaScript / Jquery"
      %li= "<span class='line'>--</span> Ruby Programming"

  .platforms
    %h1.title= "I USE"
    %ul
      %li= "<span class='line'>--</span> Ruby on Rails for web apps & Middleman for web development"
      %li= "<span class='line'>--</span> PHP, MySQL for Wordpress development"
      %li= "<span class='line'>--</span> ASP.net for Windows based sites"
      %li= "<span class='line'>--</span> Compass and Susy framework for responsive design"
      %li= "<span class='line'>--</span> Photoshop for web mockups and image manipulations"

    %h1.title= "OTHER INFO"
    %ul
      %li= "<span class='line'>--</span> Git / GitHub for version control"
      %li= "<span class='line'>--</span> SASS for css compiler"
      %li= "<span class='line'>--</span> Windows & Linux Ubuntu for web development"
      %li= "<span class='line'>--</span> Sublime Text 2 & Console2"
      %li= "<span class='line'>--</span> Currently enrolled in CodeSchool learning various things such as RoR, NodeJS & CoffeeScript"
      
  .tweet_container
    %h1.he= "Tweet"
    #tweet

  #how-work
    %h1= "MY WORKFLOW"
    .w-cont
      .discover
        %h3= "DISCOVER"
        %p= "Every client has it's own taste and needs when it comes to business. It is my job to know every single bit of what they do and what they lack. The making of storyboards and wireframes will take part in this section to show the best possible result to the client. After lots of talk and meetings one decision will be made.<br><br> -- Our goal is to choose the best result that we can come up."
    .w-cont
      .design
        %h3= "DESIGN"
        %p= "This is where we'll be designing up your site with various design trends and techniques to look cool. Things will be fun at this point and at the same time challenging, I will be creating a user friendly, well designed layouts for your business and for the users that even an old timer will understand.<br><br> -- My goal is to give the best user experience for you and your costumers."
    .w-cont
      .develop
        %h3= "DEVELOP"
        %p= "Code it up!, Your site will be crafted using <a href='http://html5boilerplate.com/' target='_blank'>HTML5 Boilerplate</a>,  <a href='http://compass-style.org/' target='_blank'>Compass</a> & <a href='http://susy.oddbird.net/' target='_blank'>Susy</a> framework, <a href='http://wordpress.org/' target='_blank'>Wordpress</a> or <a href='http://rubyonrails.org/' target='_blank'>Ruby-on-Rails</a> depending on the project. The site will be uploaded to my <a href='https://github.com/davidmandeeli' target='_blank'>Github</a> for a better work flow. At the end of the day, I will be launching the site and handle the rest.<br><br> -- Last thing I would say is, I've got this under control. Have fun with your new site *smile*."

  #latest-works
    %h1= "MY LATEST WORKS"
    .boxy
      .work#one
        %img{:src => "images/works/1a.jpg", :alt => "Eastern Visayas"}
        %img{:src => "images/works/1b.jpg", :alt => "Eastern Visayas"}
        %img{:src => "images/works/1c.jpg", :alt => "Eastern Visayas"}  
      .hove
        %h2= "Eastern Visayas"
        %a.link{:title => "Code: 0x2b"}
          %i.icon-plus
        %p="Web Development + Design"

    .boxy
      .work#two
        %img{:src => "images/works/2a.jpg", :alt => "Pasay Tourism"}
        %img{:src => "images/works/2b.jpg", :alt => "Pasay Tourism"}  
      .hove 
        %h2= "Pasay Tourism"
        %a.link{:title => "Code: 0x2b"}
          %i.icon-plus
        %p="Web Development"

    .boxy
      .work#three
        %img{:src => "images/works/3a.jpg", :alt => "SkinworkZ"}
        %img{:src => "images/works/3b.jpg", :alt => "SkinworkZ"}  
      .hove 
        %h2= "SkinworkZ"
        %a.link{:title => "Code: 0x2b"}
          %i.icon-plus
        %p="Wordpress Development"

    .boxy
      .work#one
        %img{:src => "images/works/1a.jpg", :alt => "Eastern Visayas"}
        %img{:src => "images/works/1b.jpg", :alt => "Eastern Visayas"}
        %img{:src => "images/works/1c.jpg", :alt => "Eastern Visayas"}  
      .hove
        %h2= "Eastern Visayas"
        %a.link{:title => "Code: 0x2b"}
          %i.icon-plus
        %p="Web Development + Design"

    .boxy
      .work#two
        %img{:src => "images/works/2a.jpg", :alt => "Pasay Tourism"}
        %img{:src => "images/works/2b.jpg", :alt => "Pasay Tourism"}  
      .hove 
        %h2= "Pasay Tourism"
        %a.link{:title => "Code: 0x2b"}
          %i.icon-plus
        %p="Web Development"

    .boxy
      .work#three
        %img{:src => "images/works/3a.jpg", :alt => "SkinworkZ"}
        %img{:src => "images/works/3b.jpg", :alt => "SkinworkZ"}  
      .hove 
        %h2= "SkinworkZ"
        %a.link{:title => "Code: 0x2b"}
          %i.icon-plus
        %p="Web Development"

  #blog
    %h1= "MY LATEST BLOG"
    


      
