---
title: RESUME
description: My Resume
---

#resume-container
  .resume
    %h1.logo= "[ SHIRO ]"
    %p.desc= "Front-End Web Developer/Designer"
    .resume-content
      %section.main-lane{:style => "height: 400px"}
        %h3= "ABOUT ME"
        .pic-cont
          %img.face{:src => "images/me.png"}
          
        %section.lane
          %ul
            %p.hd= "Personal Info"
            %li 
              %span= "<b>Name:</b> Dawoud D. Mandeeli"
            %li 
              %span= "<b>Address:</b> Blk 59, Lot 19. Guyabano St, Brngy Rizal Makati City"
            %li 
              %span= "<b>Number:</b> 091-4664-4630"
            %li 
              %span= "<b>Birth:</b> 03-04-1992"
            %li 
              %span= "<b>Height:</b> 5'5"
            %li 
              %span= "<b>Weight:</b> 55kg"
            %li 
              %span= "<b>Nationality:</b> Filipino"
            %li{:style => "border-bottom: 1px solid rgba(0, 75, 100, 0.5)"}
              %span= "<b>Email:</b> davidmandeeli@gmail.com"

      %section.main-lane.m1
        %h3.skills= "SKILLS"
          
        %ul.code
          %p.key= "PROGRAMMING SKILLS"
          %li 
            = "<span class='line'><span class='line'>--</span></span> HTML / HTML5"
            .level
              %span.C1{:style => "width: 95%"}
          %li
            = "<span class='line'>--</span> CSS / CSS3"
            .level
              %span.C1{:style => "width: 90%"}
          %li
            = "<span class='line'>--</span> PHP / MYSQL"
            .level
              %span.C1{:style => "width: 75%"}
          %li
            = "<span class='line'>--</span> JavaScript / Jquery"
            .level
              %span.C1{:style => "width: 80%"}
          %li
            = "<span class='line'>--</span> Ruby Programming"
            .level
              %span.C1{:style => "width: 70%"}
          
        %ul.design
          %p.key= "DESIGNING SKILLS"
          %li 
            = "<span class='line'>--</span> WEB DESIGN"
            .level
              %span.C2{:style => "width: 90%"}
          %li
            = "<span class='line'>--</span> LOGO DESIGN"
            .level
              %span.C2{:style => "width: 65%"}
          %li
            = "<span class='line'>--</span> USER INTERFACE"
            .level
              %span.C2{:style => "width: 70%"}
          %li
            = "<span class='line'>--</span> TYPOGRAPHY"
            .level
              %span.C2{:style => "width: 80%"}
    
      %section.main-lane.m2
        %h3= "EDUCATION"
          
        %section.second-lane
          %ul
            %li 
              %span.top= "ASIA PACIFIC COLLEGE<br>"
              %span.low= "<span class='line'>--</span> BSCSIT with specialization in <b>SYSTEMS & SOFTWARE</b>"
            %li 
              %span.top= "CENTRO ESCOLAR UNIVERSITY<br>"
              %span.low= "<span class='line'>--</span> BACHELOR OF SCIENCE AND INFORMATION TECHNOLOGY"
            %li 
              %span.top= "ELITE INTERNATION SCHOOL<br>"
              %span.low= "<span class='line'>--</span> HIGHSCHOOL</b>"

      %section.main-lane.m3
        %h3= "EXPERIENCE"
          
        %section.second-lane
          %ul
            %li 
              %span.top= "SHIRO - FREELANCE <span style='font-family: Nexa-Light; left: 5px'>( 2012 - present )</span><br>"
              %span.middle= "FRONT-END WEB DEVELOPER & DESIGNER</br>"
              %span.low= "<span class='line'>--</span> Building awesome stuffs for clients."
            %li 
              %span.top= "Department of Tourism & Cultural Affairs in Pasay<span style='font-family: Nexa-Light; left: 5px'>( 2012 - present )</span><br>"
              %span.middle= "WEB DEVELOPER / TOURISM STAFF</br>"
              %span.low= "<span class='line'>--</span> Web Development, Design & maintenance. "
            %li 
              %span.top= "SHIROSYSTEMS<span style='font-family: Nexa-Light; left: 5px'>( July 2012 - Dec 2012 )</span><br>"
              %span.middle= "FOUNDER</br>"
              %span.low= "<span class='line'>--</span> Led a team & worked with various clients such as Pasay Tourism Council, Department of Tourism - Region 8 and Nokia.</b>"

      %section.main-lane.m4
        %h3.add= "WHY SHOULD YOU HIRE ME?"
        %ul.hire
          %li.why= "I use multiple frameworks for crafting websites such as RoR, Compass, Susy, Middleman and more."
          %li.why= "I know my way to CMS sites including Wordpress."
          %li.why= "I'm a fast learner, learned Ruby Programming and other frameworks within 3 days or less."
          %li.why= "I love to design and follow new trends on the web. Whether it's responsive or fluid web. You name it."
          %li.why= "Not only I love to design good stuffs, I also write clean and well crafted code."
          %li.why= "I can work very well with a team given that I use <a href='https://github.com/davidmandeeli' target='_blank'>GitHub</a> for version control and code sharing stuffs."
          %li.why= "I stay alot in terminal, which helps me get my work done in a flash."
          %li.why= "I am knowledgeable in Linux & Windows."
          %li.why= "I never stop learning, I am currently enrolled & learning advance stuffs on <a href='http://codeschool.com' target='_blank'>CODESCHOOL</a> such as NodeJS, CoffeeScript & more."
          %li.why= "Because I love chocolates."


      %section.main-lane{:style => "height: 100px"}
        %h3.web= "WANT TO KNOW MORE ABOUT ME?"
        %a{:href => "http://shirodesu.com", :target => "_blank", :style => "color: white"}= "Visit my website<br>"
        %a{:href => "http://shirodesu.com", :target => "_blank", :style => "color: white"}= "Download PDF"
